---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Testing" description="Homepage">
	Main

	<a href="test">Testing Markdown</a>
	<br/>
	<a href="test-diagrams">Testing Diagrams</a>
</Layout>
