---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Testing" description="Homepage">
	Main

	<a href="test">Testing Markdown</a>
	<br/>
	<a href="test-components">Testing Components</a>
	<br/>
	<a href="test-diagrams">Testing Diagrams</a>
	<br/>
	<a href="test-markdown-includes">Testing Includes</a>
</Layout>
